h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

.header-gilbert {
    font-size: 40px;
    text-align: center;
}

.canvas-container {
    max-width: 1400px;
    margin: 0 auto;
    text-align: center;


}

#kriva {
    border: 1px solid black;
    border-radius: 10px;
    background: lightgray;
    padding: 20px;
    box-shadow: 0px 30px 35px 7px rgba(0, 0, 0, 0.32);

}

.paragraph {
    text-indent: 25px;
    font-size: 18px;

}

body {
    background: url("../img/back2.jpg") no-repeat center / cover;
    /*filter: blur(8px);*/
    background-attachment: fixed;

}

.main-header {
    text-align: center;
    font-size: 3vw;
    font-family: 'Noto Sans', sans-serif;
    font-style: italic;

}

ui li {
    list-style-type: none;
}

.container {
    max-width: 1450px;
    margin: 0 auto;
    background: lightgray;
    border-radius: 20px;
}

.logo {
    width: 150px;
}

.nav {
    width: 100%;
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    margin-left: auto;

}

.menu li a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 40px;
    font-size: 20px;
}

.menu li a:hover {
    color: red;
}


/* main page */

.main-content-header {
    text-align: center;
    margin: 30px 0;
    font-size: 45px;
    padding-top: 40px
}

.main-content {
    text-align: center;
}

.main-content-container {
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
    align-items: center;

}

.main-content-img {
    width: 700px;
    border-radius: 10px;
    box-shadow: 10px 11px 23px 0px rgba(34, 60, 80, 0.3);

}

.main-content-text {
    background: ghostwhite;
    width: 50%;
    margin: 0 30px;
    border-radius: 20px;
    box-shadow: 10px 11px 23px 0px rgba(34, 60, 80, 0.3);
    padding: 25px;
}

.main-content-text h3 {
    padding-top: 20px;
    text-align: center;
    font-size: 30px;
}

.main-content-text p {
    text-align: justify;
    line-height: 25px;
    font-size: 19px;
    padding: 25px;
}

/*Bmw page*/


.size-img {
    width: 500px;
    /*height: 500px;*/
    object-fit: contain;

}

.bmw-header {
    font-size: 3vw;
    text-transform: uppercase;
    color: blue;
    font-style: italic;

}

.bmw-header span {
    color: red;
}

.bmw-header:first-letter {
    color: #02afe3;
}

.historical-text {
    display: flex;
    align-items: center;
    font-size: 22px;
    text-align: justify;
    margin-bottom: 100px;
}

.historical-text:first-letter {
    font-size: 60px;
}

.no-shadow {
    box-shadow: none;
    border: none;
}

/*characteristics*/

.orange-font {
    font-style: italic;
    text-transform: uppercase;
    color: orange;
}

.audi-img-margin {
    margin-right: 30px;
}

/*button style*/

.draw-btn {
    display: block;
    width: 250px;
    font-size: 20px;
    margin: 20px auto;
    padding: 5px;
}


.draw-btn:active {
    box-shadow: 0 5px #666;
    transform: translate(4px, 4px);

}

.imageSize {
    width: 500px
}